<?xml version="1.0" encoding="UTF-8"?>
<configuration
  xmlns="http://ch.qos.logback/xml/ns/logback"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://ch.qos.logback/xml/ns/logback https://raw.githubusercontent.com/enricopulatzo/logback-XSD/master/src/main/xsd/logback.xsd"
>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>[%level] [%d{dd/MM/yyyy HH:mm:ss.SSS}] [%thread] [%logger{36}] [%marker] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <discriminator class="app.utils.logs.MarkerDiscriminator">
      <key>transactionId</key>
    </discriminator>

    <sift>
      <appender name="FILE-${transactionId}" class="ch.qos.logback.core.FileAppender">
        <file>logs/${transactionId}.log</file>
        <append>false</append>
        <layout class="ch.qos.logback.classic.PatternLayout">
          <pattern>[%level] [%d{dd/MM/yyyy HH:mm:ss.SSS}] [%thread] [%logger{36}] [%marker] %msg%n</pattern>
        </layout>
      </appender>
    </sift>
  </appender>

  <logger name="org.http4s" level="warn"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="SIFT" />
  </root>
</configuration>